:root {
	--textcolor: #666666;
	--bgcolor: white;
	--daycolor: #666666;
	--weekcolor: #666666;
}
html,body{margin:0;padding:0;}
body {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
}
.warabe {
	--textcolor: #d43c3c;
	--bgcolor: #ffdda3;
	--daycolor: #8f70ba;
	--weekcolor: #8f70ba;
}
.lilith {
	--textcolor: #feb700;
    --bgcolor: #30325b;
    --daycolor: #ff8292;
	--weekcolor: #ff8292;
}
.kirara {
	--textcolor: #e13168;
	--bgcolor: #e7a0c0;
	--daycolor: #872b34;
	--weekcolor: #872b34;
}
.momo {
	--textcolor: #fe9abe;
	--bgcolor: #ffdaf1;
	--daycolor: #f0ca77;
	--weekcolor: #6bcde8;
}
.nia {
	--textcolor: #fdb9e0;
	--bgcolor: #fedcf2;
	--daycolor: #8bdbfd;
	--weekcolor: #cdc1ff;
}
#clock {
	color: var(--textcolor);
	grid-column: 2;
	font-weight: bold;
	background-color: var(--bgcolor);
	width: 200px;
	padding: 0.5rem 0;
	text-align: center;
	border-radius: 4px;
	text-stroke: 0.5px #fdfcfe;
	-webkit-text-stroke: 0.5px #fdfcfe;
}

#clock.warabe {background: linear-gradient(to bottom, #ffdda3 0, #ffdda3 100px, #dacde7 100px, #dacde7 125px, #ffc8c1 125px, #ffc8c1 150px);}
#clock.lilith {}
#clock.kirara {	background: linear-gradient(to top right, #c3c8f0 10px, #c3c8f0 20px, #f890ab);}
#clock.momo {}
#clock.nia {}

.kirara #time::after {
	background: linear-gradient(#ea1f5f 16px, #cb5bbd);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	text-stroke: 0px white;
	-webkit-text-stroke: 0px white;
}
.nia #time::after {
	text-stroke: 1px #afabe0;
	-webkit-text-stroke: 1px #afabe0;
}
#time {
	font-size: 3.5rem;
	position:relative;
	text-stroke: 8px white;
	-webkit-text-stroke: 8px white;
}
#time::after {
	position: absolute;
	left: 0;
	top: -4px;
	content: attr(data-time);
	text-stroke: 0px white;
	-webkit-text-stroke: 0px white;
}
hr {margin: 0.2rem;border: 1px solid var(--textcolor);}
#dayweek {font-size: 2rem; color: var(--daycolor);}
#day {
	color: var(--daycolor);
	position:relative;
	text-stroke: 4px white;
	-webkit-text-stroke: 4px white;
}
#day::after {
	content: attr(data-day);
	position:absolute;
	left: 0;
	top: -1px;
	text-stroke: 0px white;
	-webkit-text-stroke: 0px white;
}
#week {
	color: var(--weekcolor);
	position:relative;
	text-stroke: 4px white;
	-webkit-text-stroke: 4px white;
}
#week::after {
	content: attr(data-week);
	position:absolute;
	left: 0;
	top: -1px;
	text-stroke: 0px white;
	-webkit-text-stroke: 0px white;
}


